body {
    overflow-x:hidden ;
}

#nav-logo {
    width: 7.20rem;
    margin-left: 3vw;
    margin-right: 38vw;
}

.nav-logo-burger {
    color: rgba(43, 42, 42, 0.817);
    font-size: 1.15rem;
    margin-right: 1.7rem;
}

.nav-logo-burger:hover {
    color: rgb(29, 28, 28);
    font-size: 1.15rem;
    margin-right: 1.7rem;
}

.nav-item {
    margin-right: 1.75rem;
    font-size: 0.9rem;
}

.navbar {
    border-bottom: 1px solid rgb(227, 218, 218);
    background-color: white !important;
    border-top: 1px gray solid;
    padding: 0.9rem 0px;
}

#hero-Img-home {
     height: 46vh;
     margin-left: 25%;
     margin-top: 21vh;
}

.home-hero-div {
    text-align: center;
    margin-top: 11.25vh;
}

.home-hero-div >h1 {
    color: rgba(0, 0, 0, 0.744);
    font-size: 2.85rem;
}

.home-hero-div >p {
    color: rgba(0, 0, 0, 0.744);
    font-size: larger;
    margin-top: 0.90rem;
}

.home-hero-signup-btn {
    margin-top: 3.8vh;
    background-color: rgba(3, 120, 209, 0.924);
    border: none;
    width: 11rem;
    border-radius: 0.2rem;
    font-weight: 500;
    font-size: large;
    padding: 6px 9px;
}

.home-hero-signup-btn:hover {
    background-color: black;
}

.home-stats-div {
    margin-top: 24vh;
    display: flex;
    align-content: center;
    margin-left: 7rem;
    margin-right: 15rem;
}

#home-eco-img {
    height: 100vh;
    margin-top: 0rem;
}

.home-stats-div-lvl-2>h3 {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.744);
    margin-bottom: 3.5rem;
}


.home-stats-inDiv {
    margin-top: 2rem;
    margin-right: 1rem;
}

.home-stats-div-lvl-2 {
    margin-left: 1.75rem;
    width: 42.75vw;
}

.home-stats-inDiv >h5 {
    color: rgba(0, 0, 0, 0.72);
    font-size: 1.15rem;
}
.home-stats-inDiv >p {
    color: rgba(52, 52, 52, 0.72);
    font-weight: 500;
    word-spacing: 0.1rem;
    width: 23rem;
    font-size: small;
}

.home-stats-inDiv>p >a{
    text-decoration: none;
    font-weight: 500;
    color: rgba(3, 120, 209, 0.924);
}

.media-coverage-home {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.home-stats-icon {
    display: flex;
    margin-left: 10vw;
    margin-top: 0.75rem;
}

.home-stats-icon>a {
    color:  rgba(3, 120, 209, 0.924) !important;
    font-weight: 600;
    border: none;
    margin-right: 2.5rem;
    font-size: large;
}

.home-stats-icon >a>i {
    margin-left: 0.5rem;
}

.home-stats-icon>a:hover {
    color:  rgba(59, 60, 60, 0.924) !important;
    font-weight: 600;
    border: none;
    margin-right: 2.5rem;
}

.home-pricing-div {
    display: flex;
    margin-top: 7.5rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
}

.pricing-side-div {
    display: flex;
    margin-right: 4rem;
    margin-top: 3rem;
}

.pricing-side-div>img {
    height: 4.75rem;
    position: relative;
    left: 0.5rem;
}

.see-pricing-icon {
    color:  rgba(3, 120, 209, 0.924) !important;
    font-weight: 600;
    border: none;
    margin-right: 2.5rem;
    font-size: medium;
    width: 7rem;
}

.see-pricing-icon:hover {
    color:  rgba(71, 71, 72, 0.924) !important;
    font-weight: 600;
    border: none;
    margin-right: 2.5rem;
    font-size: medium;
}

.see-pricing-icon>a>i {
    margin-left: 0.75rem;
}

.home-pricing-div>div>h3 {
    font-size: 2.1rem;
    color: rgba(0, 0, 0, 0.744);
    margin-bottom: 1.75rem;
}

.home-pricing-div>div>p {
    color: rgba(0, 0, 0, 0.744);
    width: 25rem;
}

.pricing-imgSide-paragraph {
    font-size:x-small;
    width: 7rem !important;
    margin-top: 2rem;
}

.education-home-div  {
    display: flex;
    padding: 0rem 2rem;
    margin-bottom: 8rem;
}

.education-home-div> img {
    margin-right: 8rem;
    height: 18rem;
    margin-left: 2.75rem;
}

.education-side-paragraph {
    margin-top: 2rem;
}

.education-side-paragraph >p{
    width: 38vw;
}

.education-heading {
    color: rgba(0, 0, 0, 0.744);
    margin-bottom: 2rem;
}

.educational-p {
    color: rgba(0, 0, 0, 0.744);
    margin-top: 1.5rem;
}

.educational-a {
    color:  rgba(3, 120, 209, 0.924) !important;
    font-weight: 600;
    width: 7rem;
    text-decoration: none;
}

.educational-a> i{
    margin-left: 0.75rem;
}

.educational-a:hover {
    color:  rgba(35, 35, 35, 0.924) !important;
    font-weight: 600;
    width: 7rem;
    text-decoration: none;
}

.OpenAccount-Div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.OpenAccount-Div> h3 {
    font-size: 2.1rem;
    color: rgba(0, 0, 0, 0.744);
    margin-bottom: 1rem;
}

.OpenAccount-Div>p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.744);
}


.footer-div {
    height: 75vh;
    width: 100vw;
    background-color: #fbfbfb;
    border-top: 0.5px solid #e8e6e6;
}

.footer-div {
    display: flex;
    justify-content: space-evenly;
}

.footer-lvl2-1> img {
  width: 9rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.footer-lvl2-1 {
    width: 10rem;
}

.footer-lvl2-1> p{
    width: 18rem;
    font-size: 0.75rem;
    color: rgba(68, 67, 67, 0.894);
}

.footer-lvl2-1>p> i{
    margin-right: 1.5rem;
    font-size: 1.15rem;
    margin-bottom: 1rem;
    color:rgb(103, 102, 102) ;
}

.footer-lvl2-1>p> i:hover {
    color:  rgba(3, 120, 209, 0.924);
}

.footer-lvl2-0, .footer-lvl2-2,.footer-lvl2-3 , .footer-lvl2-4 {
     width: 10rem;
     margin-top: 1.8rem;
}

.footer-h5 {
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.744);
    margin-bottom: 1rem;
}

.footer-opt-p {
    font-size: small;
    color:rgb(103, 102, 102);
    font-weight: 500;
}
.footer-opt-p:hover {
    font-size: small;
    color: rgba(58, 152, 223, 0.924);
    font-weight: 500;
}

.term-policy-div {
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #fbfbfb;
    width: 100%;
}

.term-policy-p {
    font-size: 0.62rem;
    color:rgb(116, 114, 114);
    padding-top: 2rem;
}

.term-policy-p >a {
    text-decoration: none;
    font-weight: 500;
    color:  rgba(58, 152, 223, 0.924);
}

.term-policy-p >a:hover {
    text-decoration: none;
    font-weight: 500;
    color:  rgba(12, 12, 12, 0.924);
}

.main-footer-div {
    display: flex;
    flex-direction: column;
}

.term-policy-last-p>a {
    font-size: 0.7rem;
    margin-left: 1.8rem;
    text-decoration: none;
    font-weight: 600;
    color:rgb(133, 133, 133);
}

.term-policy-last-p>a:hover {
    color: rgba(58, 152, 223, 0.924);
}

.term-policy-last-p {
    margin-left: 1rem
}

.SupportPageDiv {
    height: 100vh;
    width: 100vw;
    background-color: #387ED1;
    padding-top: 7.5rem;
    display: flex;
    padding-left: 0.5rem;

}

.support-h3 {
    color: rgb(249, 243, 243);
    font-size: 1.45rem;
    font-weight: 500;
    margin-bottom: 2.75rem;
}

.support-h3:nth-of-type(2) {
    font-weight: 400;
}


.support-search> button {
    background-color:  rgb(249, 243, 243);
    border: none;
    height: 3.35rem;
    width: 3rem;
}


.support-search> button:hover {
    background-color: rgb(249, 243, 243) ;
}

.support-search> button>i:hover {
    color: rgb(57, 56, 56) ;

}

.support-a {
    color: rgb(249, 243, 243);
    font-size: large;
    padding-left: 0.25rem;
    padding-right: 1.5rem;
}

.support-side-div {
    width: 35vw;
    margin-left: 5rem;
}

.support-child-div {
    margin-right: 2rem;
    width: 50vw;
}

.support-feature-h3 {
    color: rgb(249, 243, 243);
    font-size: 1.45rem;
    font-weight: 500;
    margin-top: 6rem;
}

.support-a-feature {
    color: rgb(249, 243, 243);
    font-size: medium; 
}

.trackticket {
    position: absolute;
    right: -1rem;
    font-size: larger;
    font-weight: 500;
}

.support-ticket {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.support-ticket>div {
    width: 27vw;
    margin-bottom: 3rem;
}

.support-main-h {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
    margin-left: 0.35rem;
    color: #666666;
    font-size: 1.45rem;
    font-weight: 400;
}

.support-ticket>div> h3 {
    font-weight: 400;
    font-size: 1.35rem;
}

.support-ticket>div> h3>i {
    font-size: 1.15rem;
    margin-right: 0.5rem;
}

.support-ticket>div> a {
    color: #387ED1;
    text-decoration: none;
    display: block;
    margin-top: 1rem;
    font-size: 0.95rem;
    margin-left: 1.6rem;
}

.support-ticket>div> a:hover {
    color: #666666;
    text-decoration: none;
    display: block;
}

.Pricing-hero-div {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
}

.Pricing-hero-div> div{
    width: 24vw;
    margin-left: 3rem;
    text-align: center;
    margin-right: 1rem;
}

.Pricing-hero-div>div> img{
    height: 11rem;
}

.Pricing-hero-div>div> h3{
    font-size: 1.35rem;
    color: rgba(0, 0, 0, 0.744);
    margin-bottom: 1rem;
}

.Pricing-hero-div>div> p{
    font-size: small;
    color: rgba(57, 56, 56, 0.86);
    margin-bottom: 1rem;
}

.pricing-main-h1 {
    margin-top: 5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.744);
}

.pricing-main-p {
    text-align: center;
    font-weight: 500;
    color: rgba(121, 120, 120, 0.744);
}

.brokerage-div {
    column-width: 28vw;
    margin-left: 13vw;
    margin-right: 13vw;
}

.brokerage-div> h6{
    text-align: center;
    font-weight: 500;
    color: rgba(38, 35, 35, 0.986);
}

.brokerage-div >div {
    width: 100%;
    padding: 1.5rem;
}

.brokage-main-heading {
    text-align: center;
    font-weight: 400;
    color: rgba(38, 35, 35, 0.986);
    margin-top: 4rem;
    font-size: large;
}

.brokage-main-heading>span {
    color: rgba(3, 133, 208, 0.986);
}

.brokage-lvl2-heading {
    margin-left:15.5vw ;
}

.brokerage-div> div>h6 {
    color: rgba(58, 55, 55, 0.986);
    font-size: small;
}

.brokerage-div> div>p {
    color: rgba(88, 87, 87, 0.986);
    font-size: small;
}

.brokerage-div> div>ul {
    color: rgba(88, 87, 87, 0.986);
    font-size: small;
}

.disclaimer-div {
    margin: 0px 12rem;
    margin-bottom: 3rem;
}

.disclaimer-div>h6 {
    color: rgba(53, 49, 49, 0.986);
    font-size: medium;
}

.disclaimer-div> p {
    color: rgba(88, 87, 87, 0.986);
    font-size: small;
    line-height: 1rem;
}

.ChargesTable-Pricing {
    margin: 1px auto;
    border: 1px solid rgb(183, 179, 179);
    line-height: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.ChargesTable-Pricing> tr:nth-of-type(1) {
    border-bottom: 1px solid rgb(189, 187, 187);
}

.ChargesTable-Pricing> tr>td:nth-last-of-type(1){
    width: 8rem;
    font-size: small;
    color: #444242;
    background-color: #e8e6e61d;
}

.ChargesTable-Pricing> tr>td:nth-last-of-type(2){
    width: 50vw;
    font-size: small;
    padding-left: 0.5rem;
    color: #444242;
    background-color: #e8e6e651;
}

.ChargesTable-Pricing> tr>td>span {
    background-color: rgb(36, 187, 6);
    color: white;
    font-size: x-small;
    padding: 0.05rem 0.5rem;
    border-radius: 0.1rem;
}


.charges-table-h {
    color: #474747;
    font-weight: 500;
    margin-left: 19.5vw;
    font-size: larger;
}

.Products-hero-div {
    text-align: center;
    margin: 5px auto;
    width: 70vw;
    margin-top: 3.5rem;
    padding-bottom: 5rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgb(228, 219, 219);
}

.Products-hero-div> h3 {
    font-size: 2.25rem;
    color: rgba(0, 0, 0, 0.744);
}

.Products-hero-div> a{
   font-size: small;
}

.Products-hero-div>a> span {
    color: #2072d6;
}

.leftProductSectionDiv >img {
    height: 19.5rem;
    margin-right: 8rem;
}

.leftProductSectionDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.descriptionProduct> h4{
   color: #474747;
   margin-top: 3rem;
}

.descriptionProduct>p{
    width: 16rem;
    font-size: small;
    color: #595757;
}

.leftProductSectionDiv> div>div>a{
    font-size: small;
    color: #1e72d8 !important;
    padding-right: 3rem;
    font-weight: 500;
}

.DownloadImg>img {
    width: 6.75rem;
    margin-top: 1rem;
}
.DownloadImg>img:nth-of-type(2) {
    width: 6rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.descriptionProductRight {
    margin-left: 7rem;
}
.descriptionProductRight>p {
    margin-right: 5rem;
    width: 16rem;
    font-size: small;
    color: #595757;
}

.descriptionProductRight> h4 {
    color: #474747;
    margin-top: 26vh;
}


.end-p-productPage {
    font-size: 0.96rem;
    text-align: center;
    color:#444242;
    margin-bottom: 4rem;
}

.end-p-productPage>a {
    text-decoration: none;
    color: #2072d6;
    font-weight: 500;
}

.end-p-productPage>a:hover {
    text-decoration: none;
    color: #444242;
    font-weight: 500;
}

.Brands-Div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 10rem;
}

.Brands-Div> div>img{
    height: 2.5rem;
    margin-top: 3rem;
}

.Brands-Div>div> p{
    font-size: x-small;
    width: 10rem;
    color: #8c8b8b;
    font-weight: 500;
    margin-top: 0.95rem;
}

.Brands-Div> div {
    margin-left: 3rem;
    margin-right: 3rem;
}

.Universe-Div {
    text-align: center;
}

.Universe-Div>h3 {
    color: #474747;
    font-size: x-large;
    margin-bottom: 1rem;
}

.Universe-Div> p {
    font-size: small;
    color:#585656;
    font-weight: 500;
}